@{
    ViewData["Title"] = "Accueil";
}

<h1>Bienvenue sur l'application MovieApp</h1>

<p>Choisissez une section :</p>

<ul>
    <li><a asp-controller="Customer" asp-action="Index">Voir les Customers</a></li>
    <li><a asp-controller="Customer" asp-action="Create">Ajouter un Customer</a></li>
    <li><a asp-controller="Movie" asp-action="Index">Voir les Films</a></li>
    <li><a asp-controller="Movie" asp-action="Create">Ajouter un Film</a></li>
    <li><a asp-controller="Genre" asp-action="Index">Voir les Genres</a></li>
</ul>