@model AspCoreFirstApp.Models.Customer

<h2>Create Customer</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MembershipName"></label>
        <select asp-for="MembershipName" class="form-control" asp-items="@(new SelectList(ViewBag.Memberships))">
            <option value="">-- Sélectionnez --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="DiscountRate"></label>
        <input asp-for="DiscountRate" class="form-control" />
    </div>

    <input type="submit" value="Create" class="btn btn-primary mt-2" />
</form>

<p>
    <a asp-action="Index">Back to List</a>
</p>